# docker-compose.override.yml
# Development overrides - automatically applied when running docker-compose up

version: '3.8'

services:
  nakama:
    # More verbose logging and console credentials for development
    entrypoint:
      - "/bin/sh"
      - "-ecx"
      - >
        /nakama/nakama migrate up --database.address nakama:nakama_local_dev@nakama-db:5432/nakama &&
        exec /nakama/nakama --name nakama1 --database.address nakama:nakama_local_dev@nakama-db:5432/nakama --logger.level DEBUG --session.token_expiry_sec 7200 --runtime.js_entrypoint "main.js" --console.username admin --console.password password
    environment:
      - NAKAMA_CONSOLE_USERNAME=admin
      - NAKAMA_CONSOLE_PASSWORD=password
