@import './reset.css';
@import './variables.css';

html,
body {
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
  font-family: var(--font-family-primary);
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-bg-page);
}
